h1 {
	font-size: 3rem;
	text-align: center;
	font-weight: bold;
	line-height: 30px;
}

h2 {
	font-size: 1.6rem;
	text-align: center;
	font-style: italic;
	margin-bottom: 20px;
}

.title {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid var(--light-grey);
}

.title > img {
	height: 50px;
}
