h1 {
	font-size: 3rem;
	text-align: center;
	font-weight: bold;

	line-height: 30px;
}

h2 {
	font-size: 2rem;
	text-align: center;
	/* font-weight: bold; */
	font-style: italic;
	margin-bottom: 10px;
}

.title {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
}

.title > img {
	height: 50px;
}
