h3 {
	font-size: 1.8rem;
	text-align: center;
	font-weight: bold;
}

.exercise {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	border: 1px solid var(--black);
	border-radius: 20px;
	padding: 5px 10px;
	transition: 0.1s;
}

.links {
	display: flex;
	justify-content: space-around;
}

.exercise > p {
	text-align: center;
}
